@font-face {
  font-family: "silka-bold";
  src: url("/fonts/silka/silka-bold.eot");
  src: url("/fonts/silka/silka-bold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/silka/silka-bold.woff2") format("woff2"),
    url("/fonts/silka/silka-bold.woff") format("woff"),
    url("/fonts/silka/silka-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "avenir-next-regular";
    src: url('/fonts/avenir-next/avenir-next-regular.eot');
    src: url('/fonts/avenir-next/avenir-next-regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/avenir-next/avenir-next-regular.woff2') format('woff2'),
        url('/fonts/avenir-next/avenir-next-regular.woff') format('woff'),
        url('/fonts/avenir-next/avenir-next-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
