.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: 96px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header img {
  margin-left: 47px;
}

.main {
  background-color: #f7f7f7;
  padding: 48px;
  position: relative;
  width: 100%;
}

.title {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  margin-bottom: -41px;
  text-align: center;
}

.chart {
  padding: 5rem 3rem;
  height: 530px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(41, 141, 160);
  background: linear-gradient(
    0deg,
    rgba(41, 141, 160, 1) 0%,
    rgba(6, 100, 123, 1) 100%
  );
}

.chart-buttons {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.button {
  width: 176px;
  height: 35px;
  border-radius: 50px;
  outline: 0;
  font-family: silka-bold;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.button:active {
  transform: translateY(2px);
}

.button.button-primary {
  color: #fff;
  border: 1px solid #23b8cc;
  background-color: #23b8cc;
  margin-right: 8px;
}

.button.button-white {
  color: #4a4a4a;
  background: #fff;
  border: 1px solid #4a4a4a;
}

.main-text {
  max-width: 600px;
  margin: 0 auto;
}

.main-text .main-text-header {
  font-size: 36px;
  font-family: silka-bold;
  margin-bottom: 14px;
}

.main-text .main-text-paragraph {
  font-size: 16px;
  font-family: avenir-next-regular;
  line-height: 22px;
}

.image-columns {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  margin-bottom: 150px;
  flex-wrap: wrap;
}

.image-columns .image-text {
  height: 395px;
  background-color: #fffcfc;
  margin-top: 15px;
  margin-right: 10px;
}

.image-columns .image-text:first-child {
  max-width: 583px;
}

.image-columns .image-text:last-child {
  margin-right: 0;
}

.image-columns .image-text div {
  padding: 16px;
  font-size: 24px;
  font-family: silka-bold;
}

.image-columns .image-text div h4 {
  margin: 0;
}

@media only screen and (max-width: 680px) {
  .chart {
    padding: 5rem 1rem;
  }
  .main {
    padding: 15px;
  }

  .image-columns .image-text:first-child {
    max-width: 480px;
    height: 330px;
  }

  .main-text .main-text-header {
    font-size: 24px; 
  }

  .image-columns .image-text div {
    font-size: 21px;
  }
}
